.tox { box-shadow: none; box-sizing: content-box; color: rgb(34, 47, 62); cursor: auto; font-size: 16px; font-style: normal; font-weight: 400; line-height: normal; -webkit-tap-highlight-color: transparent; text-decoration: none; text-shadow: none; text-transform: none; vertical-align: initial; white-space: normal; }
.tox :not(svg):not(rect) { box-sizing: inherit; color: inherit; cursor: inherit; direction: inherit; font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit; line-height: inherit; -webkit-tap-highlight-color: inherit; text-align: inherit; text-decoration: inherit; text-shadow: inherit; text-transform: inherit; vertical-align: inherit; white-space: inherit; }
.tox :not(svg):not(rect) { background: 0px 0px; border: 0px; box-shadow: none; float: none; height: auto; margin: 0px; max-width: none; outline: 0px; padding: 0px; position: static; width: auto; }
.tox:not([dir="rtl"]) { direction: ltr; text-align: left; }
.tox-tinymce { border: 2px solid rgb(238, 238, 238); border-radius: 10px; box-shadow: none; box-sizing: border-box; display: flex; flex-direction: column; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; overflow: hidden; position: relative; visibility: inherit !important; }
.tox-tinymce-aux { font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; z-index: 1300; }
.tox-tinymce :focus, .tox-tinymce-aux :focus { outline: 0px; }
@media only screen and (max-width: 767px) {
}
.tox .tox-anchorbar { display: flex; flex: 0 0 auto; }
.tox .tox-bottom-anchorbar { display: flex; flex: 0 0 auto; }
@media only screen and (max-width: 767px) {
}
@media only screen and (max-width: 767px) {
}
@media only screen and (min-width: 768px) {
}
@media only screen and (max-width: 767px) {
}
@media only screen and (max-width: 767px) {
}
@media only screen and (max-width: 767px) {
}
@media only screen and (max-width: 767px) {
}
@media only screen and (max-width: 767px) {
}
.tox .tox-edit-area { display: flex; flex: 1 1 0%; overflow: hidden; position: relative; }
.tox .tox-edit-area::before { border: 2px solid rgb(45, 106, 223); border-radius: 4px; content: ""; inset: 0px; opacity: 0; pointer-events: none; position: absolute; transition: opacity 0.15s; z-index: 1; }
.tox .tox-edit-area__iframe { background-color: rgb(255, 255, 255); border: 0px; box-sizing: border-box; flex: 1 1 0%; height: 100%; position: absolute; width: 100%; }
.tox .tox-editor-container { display: flex; flex: 1 1 auto; flex-direction: column; overflow: hidden; }
.tox .tox-editor-header { display: grid; grid-template-columns: 1fr min-content; z-index: 2; }
.tox:not(.tox-tinymce-inline) .tox-editor-header { background-color: rgb(255, 255, 255); border-bottom: none; box-shadow: rgba(34, 47, 62, 0.1) 0px 2px 2px -2px, rgba(34, 47, 62, 0.07) 0px 8px 8px -4px; padding: 4px 0px; }
.tox:not(.tox-tinymce-inline) .tox-editor-header:not(.tox-editor-dock-transition) { transition: box-shadow 0.5s; }
.tox.tox:not(.tox-tinymce-inline) .tox-editor-header.tox-editor-header--empty { background: 0px 0px; border: none; box-shadow: none; padding: 0px; }
@media only screen and (min-width: 768px) {
}
.tox .tox-sidebar-wrap { display: flex; flex-direction: row; flex-grow: 1; min-height: 0px; }
.tox .tox-sidebar { background-color: rgb(255, 255, 255); display: flex; flex-direction: row; justify-content: flex-end; }
.tox .tox-sidebar__slider { display: flex; overflow: hidden; }
.tox .tox-sidebar__pane-container { display: flex; }
.tox .tox-sidebar--sliding-closed { opacity: 0; }
@keyframes tam-bouncing-dots { 
  0%, 100%, 80% { transform: scale(0); }
  40% { transform: scale(1); }
}
@media only screen and (min-width: 768px) {
}
@media only screen and (max-width: 767px) {
}
.tox .tox-throbber { z-index: 1299; }
.tox .tox-anchorbar { grid-column: 1 / -1; }
.tox .tox-view-wrap { background-color: rgb(255, 255, 255); flex: 1 1 0%; flex-direction: column; }